body {
    margin: 0;
    background: #ffffff;
    color: #262626;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    flex-wrap: wrap;
}

.left_side {
    float: left;
    width: 785px;
}

.logoinst {
    width: 75px;
    height: 75px;
    float: left;
    padding: 50px 0 0 50px;
}

.message {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    padding: 85px 0 0 114px;
    max-width: 600px;
    line-height: 1.5;
    text-align: center;
}

.message p {
    margin-bottom: 10px;
}

.closefriends {
    background: linear-gradient(
        45deg,
        #f58529,
        #dd2a7b,
        #8134af,
        #515bd4
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.photo2 {
    width: 495px;
    height: auto;
    margin-left: 148px;
    padding-top: 0;
    display: block;
}

.vertical_line {
    float: left;
    width: 2px;
    height: 730px;
    background-color: #DBDBDB;
    margin: 0px 60px 0px 0px;
}

.right_side {
    padding-top: 115px;
    text-align: center;
    width: 550px;
    display: flex;
    flex-direction: column;
}

.right_side > span {
    font-family: "Instagram Sans Heading", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #000000;
    display: block;
    margin-bottom: 24px;
}

.forms {
    width: 100%;
}

.forms input {
    width: 100%;
    height: 58px;
    margin-bottom: 18px;
    padding: 9px 15px 7px;
    background: white;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 17px;
}

button {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    border: none;
    background: #0064E0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    cursor: default;
    align-items: center;
}

#login:disabled {
    opacity: 0.5;
    cursor: default;
}

.or-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #DBDBDB;
}

.or-text {
    margin: 0 18px;
    color: #8E8E8E;
    font-size: 13px;
    font-weight: 600;
}

.forgetpass {
    display: block;
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.forgetpass:hover {
    background-color: #FAFAFA;
    border-radius: 25px;
}

.fb-btn {
    background: none;
    border: 1px solid #DBDBDB;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 50px;
    color: #000000;
    height: 45px;
}

.fb-btn:hover {
    background-color: #FAFAFA;
}

.fb-btn img {
    margin-right: 8px;
}

.newacc {
    border: 1px solid #0064e0;
    background: transparent;
    height: 45px;
    width: 100%;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
    color: #0064e0;
}

.newacc:hover {
    background-color: #FAFAFA;
    border-radius: 25px;
}

.forgetpass,
.newacc,
.fb-btn,
.bottom a,
select {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.meta {
    margin-top: 10px;
}

.bottom {
    clear: both;
    width: 100%;
    text-align: center;
    color: #8E8E8E;
    font-size: 16px;
    line-height: 2;
    margin-top: 0;
}

.bottom hr {
    border: 0;
    border-top: 1.3px solid #DBDBDB;
    margin: 0 0 15px 0;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 95%;
}

.bottom a {
    color: #8E8E8E;
    margin: 0 8px;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
}

.bottom a:hover {
    text-decoration: underline;
}

#lang {
    border: none;
    color: #8E8E8E;
    background: none;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
}

.bottom p {
    display: inline-block;
    font-size: 12px;
    margin: 0;
}

select {
    border: none;
    color: #8E8E8E;
    background: none;
    font-size: 12px;
    cursor: pointer;
    width: 70px;
}
