* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.kaspi-header {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.logo {
    font-size: 44px;
    font-weight: bold;
    color: #000;
}

.description {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0 15px 0;
    
    
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 5.4rem; 
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.product-card {
  background: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img.main-image {
  width: 100%;
  height: 200px;
  object-fit: contain; 
  margin-bottom: 15px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 15px;
}

.thumbnail {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  object-fit: contain;
}

h3 {
  font-size: 20px;
  height: 3rem; 
  overflow: hidden;
  margin: 10px 0;
  color: #0089d0;
}

.price {
  font-size: 2.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-top: 0;
}

.actions {
  margin-top: auto; 
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buy-btn {
  background: #f14635; 
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.share-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.share-btn {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}

.rating {
  font-size: 20px;
  margin-bottom: 10px;
}